
					{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "apisandbox-api.zuora.com",
  "basePath" : "/rest",
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/creditmemos/{:id}" : {
      "get" : {
        "tags" : [ "getCrteditMemos" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getCrteditMemos",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getCrteditMemos"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getCrteditMemos##reasons" : {
      "properties" : {
        "code" : {
          "type" : "number"
        },
        "message" : {
          "type" : "string"
        }
      }
    },
    "getCrteditMemos" : {
      "properties" : {
        "success" : {
          "type" : "boolean"
        },
        "processId" : {
          "type" : "string"
        },
        "reasons" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getCrteditMemos##reasons"
          }
        }
      }
    }
  }
}
