{"swagger":"2.0","info":{"termsOfService":"Zuora REST API is provided \"AS IS\"","version":"2017-02-14","title":"Zuora API Reference","contact":{"email":"docs@zuora.com"},"x-logo":{"url":"https://dl.dropboxusercontent.com/u/99612594/zuoralogo.png"}},"host":"apisandbox-api.zuora.com","schemes":["https"],"basePath":"/v1","produces":["application/json; charset=utf-8"],"consumes":["application/json; charset=utf-8"],"paths":{"/accounts":{"post":{"summary":"Create account","operationId":"POST_Account","tags":["Accounts"],"parameters":[{"name":"zuora-version","in":"header","required":false,"type":"string","description":"The minor version of the Zuora REST API.\nYou only need to set this parameter if you use the __collect__ or __invoice__ fields."},{"name":"Request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/POSTAccountType"}}],"responses":{"200":{"examples":{"application/json":{"success":true,"accountId":"402892c74c9193cd014c96bbe7c101f9","accountNumber":"A00000004","paymentMethodId":"402892c74c9193cd014c96bbe7d901fd"}},"description":"","schema":{"$ref":"#/definitions/POSTAccountResponseType"}}}}},"/accounts/{account-key}":{"get":{"summary":"Get account","operationId":"GET_Account","description":"This REST API reference describes how to retrieve basic information about a customer account.\n\nThis REST call is a quick retrieval that doesn't include the account's subscriptions, invoices, payments, or usage details. Use Get account summary to get more detailed information about an account.\n","tags":["Accounts"],"parameters":[{"name":"account-key","in":"path","description":"Account number or account ID.","required":true,"type":"string"}],"responses":{"200":{"examples":{"application/json":{"basicInfo":{"id":"402892c74c9193cd014c91d35b0a0132","name":"Test","accountNumber":"A00000001","notes":"","status":"Active","crmId":"","batch":"Batch1","invoiceTemplateId":null,"communicationProfileId":"303d186840e611df817c002185d714e1"},"billingAndPayment":{"billCycleDay":1,"currency":"USD","paymentTerm":"Net 30","paymentGateway":"TestGateway","invoiceDeliveryPrefsPrint":false,"invoiceDeliveryPrefsEmail":true,"additionalEmailAddresses":["test1@test.com","test2@test.com"]},"metrics":{"balance":0,"totalInvoiceBalance":0,"creditBalance":0,"contractedMrr":-900},"billToContact":{"address1":"","address2":"","city":"","country":null,"county":null,"fax":"","firstName":"Test","homePhone":"","lastName":"Test","mobilePhone":"","nickname":"","otherPhone":"","otherPhoneType":null,"personalEmail":"","state":"","taxRegion":null,"workEmail":"Test@test.com","workPhone":"","zipCode":""},"soldToContact":{"address1":"","address2":"","city":"","country":null,"county":null,"fax":"","firstName":"Test","homePhone":"","lastName":"Test","mobilePhone":"","nickname":"","otherPhone":"","otherPhoneType":null,"personalEmail":"","state":"","taxRegion":null,"workEmail":"Test@test.com","workPhone":"","zipCode":""},"success":true}},"description":"","schema":{"$ref":"#/definitions/GETAccountType"}}}},"put":{"summary":"Update account","operationId":"PUT_Account","description":"This REST API reference describes how to update a customer account by specifying the account-key.\n\n## Notes\n1. Only the fields to be changed should be specified.  Any field that's not included in the request body will not be changed.\n2. If an empty field is submitted with this call, the corresponding field in the account is emptied.\n3. Email addresses: If no email addresses are specified, no change is made to the email addresses on file or to the email delivery preference. If either the **personalEmail** or **workEmail** is specified (or both), the system updates the corresponding email address(es) on file and the email delivery preference is set to `true`. (In that case, emails go to the **workEmail** address, if it exists, or else the **personalEmail**.) On the other hand, if as a result of this call both of the email addresses for the account are empty, the email delivery preference is set to `false`.\n4. The bill-to and sold-to contacts are separate data entities; updating either one does not update the other.\n","tags":["Accounts"],"parameters":[{"name":"account-key","in":"path","required":true,"type":"string","description":"Account number or account ID."},{"name":"Request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/PUTAccountType"}}],"responses":{"200":{"examples":{"application/json":{"success":true}},"description":"","schema":{"$ref":"#/definitions/CommonResponseType"}}}}},"/accounts/{account-key}/summary":{"get":{"summary":"Get account summary","operationId":"GET_AccountSummary","tags":["Accounts"],"parameters":[{"name":"account-key","in":"path","required":true,"type":"string","description":"Account number or account ID."}],"responses":{"200":{"examples":{"application/json":{"payments":[{"paidInvoices":[{"invoiceNumber":"INV00000159","appliedPaymentAmount":5.0,"invoiceId":"2c92a09539190dbe0139190f42780012"},{"invoiceNumber":"INV00000323","appliedPaymentAmount":139722.1,"invoiceId":"2c92a0953a3fa95d013a407c10a60100"},{"invoiceNumber":"INV00000160","appliedPaymentAmount":10521.0,"invoiceId":"2c92a09739190dc60139194bcf1b0098"}],"paymentNumber":"P-00000075","status":"Processed","effectiveDate":"2013-03-27","id":"2c92c8f83dabf9cf013daf3bfa0305a6","paymentType":"Electronic"},{"paidInvoices":[{"invoiceNumber":"INV00000159","appliedPaymentAmount":5.0,"invoiceId":"2c92a09539190dbe0139190f42780012"}],"paymentNumber":"P-00000056","status":"Processed","effectiveDate":"2012-08-11","id":"2c92a0f9391832b101391922ad5f049d","paymentType":"Electronic"}],"invoices":[{"amount":139722.1,"status":"Posted","invoiceNumber":"INV00000323","invoiceDate":"2013-02-11","balance":0.0,"id":"2c92a0953a3fa95d013a407c10a60100","dueDate":"2013-02-11"},{"amount":10521.0,"status":"Posted","invoiceNumber":"INV00000160","invoiceDate":"2012-08-11","balance":0.0,"id":"2c92a09739190dc60139194bcf1b0098","dueDate":"2012-08-11"},{"amount":10.0,"status":"Posted","invoiceNumber":"INV00000159","invoiceDate":"2012-08-11","balance":0.0,"id":"2c92a09539190dbe0139190f42780012","dueDate":"2012-08-11"}],"usage":[{"unitOfMeasure":"UOM","quantity":10.0,"startDate":"2012-02"},{"unitOfMeasure":"UOM","quantity":10.0,"startDate":"2012-01"}],"basicInfo":{"defaultPaymentMethod":{"creditCardNumber":"************1111","paymentMethodType":"CreditCard","creditCardExpirationMonth":10,"creditCardExpirationYear":2020,"creditCardType":"Visa","id":"2c92c8f83dabf9cf013daef12dd303b0"},"status":"Active","lastInvoiceDate":"2013-02-11","lastPaymentAmount":150248.1,"billCycleDay":1,"invoiceDeliveryPrefsPrint":false,"invoiceDeliveryPrefsEmail":true,"additionalEmailAddresses":["test1@test.com","test2@test.com"],"name":"subscribeCallYan_1","balance":0.0,"accountNumber":"A00001115","id":"2c92a0f9391832b10139183e277a0042","dfadsf__c":null,"currency":"USD","lastPaymentDate":"2013-03-27"},"soldToContact":{"fax":"","taxRegion":"","country":"United States","zipCode":"95135","county":"","lastName":"Cho","workEmail":"work_email@zbcloud.com","state":"California","address2":"","address1":"278 Bridgeton Circle","firstName":"Bill","id":"2c92a0f9391832b10139183e27940043","workPhone":"5555551212","city":"San Jose"},"success":true,"subscriptions":[{"termEndDate":"2014-02-01","termStartDate":"2013-02-01","status":"Active","initialTerm":12,"autoRenew":true,"subscriptionNumber":"A-S00001081","subscriptionStartDate":"2013-02-01","id":"2c92c8f83dc4f752013dc72c24ee016d","ratePlans":[{"productName":"Recurring Charge","ratePlanName":"QSF_Tier"}],"termType":"TERMED","renewalTerm":3},{"termEndDate":"2014-02-01","termStartDate":"2013-02-01","status":"Active","initialTerm":12,"autoRenew":true,"subscriptionNumber":"A-S00001080","subscriptionStartDate":"2013-02-01","id":"2c92c8f83dc4f752013dc72bb85c0127","ratePlans":[{"productName":"Recurring Charge","ratePlanName":"QSF_Tier"}],"termType":"TERMED","renewalTerm":3},{"termEndDate":"2014-04-01","termStartDate":"2013-12-01","status":"Cancelled","initialTerm":10,"autoRenew":false,"subscriptionNumber":"A-S00001079","subscriptionStartDate":"2013-02-01","id":"2c92c8f83dc4f752013dc723fdab00d4","ratePlans":[{"productName":"Recurring Charge","ratePlanName":"QSF_Tier"}],"termType":"TERMED","renewalTerm":4},{"termEndDate":"2012-02-11","termStartDate":"2011-02-11","status":"Active","initialTerm":12,"autoRenew":false,"subscriptionNumber":"A-S00001076","subscriptionStartDate":"2011-02-11","id":"2c92c8f83db0b4b4013db4717ad000ec","ratePlans":[{"productName":"Recurring Charge","ratePlanName":"Month_PerUnit"},{"productName":"Recurring Charge","ratePlanName":"Month_PerUnit"}],"termType":"TERMED","renewalTerm":3},{"termEndDate":"2012-02-11","termStartDate":"2011-02-11","status":"Active","initialTerm":12,"autoRenew":false,"subscriptionNumber":"A-S00001075","subscriptionStartDate":"2011-02-11","id":"2c92c8f83db0b4b4013db3ab6a4d00bc","ratePlans":[{"productName":"Recurring Charge","ratePlanName":"Month_PerUnit"},{"productName":"Recurring Charge","ratePlanName":"Month_PerUnit"}],"termType":"TERMED","renewalTerm":3},{"termEndDate":"2012-02-11","termStartDate":"2011-02-11","status":"Active","initialTerm":12,"autoRenew":false,"subscriptionNumber":"A-S00001074","subscriptionStartDate":"2011-02-11","id":"2c92c8f83db0b4b4013db3aa9fbd0090","ratePlans":[{"productName":"Recurring Charge","ratePlanName":"Month_PerUnit"}],"termType":"TERMED","renewalTerm":3}],"billToContact":{"fax":"","taxRegion":"","country":"United States","zipCode":"95135","county":"","lastName":"Zou","workEmail":"work_email@zbcloud.com","state":"California","address2":"","address1":"1400 Bridge Pkwy","firstName":"Cheng","id":"2c92a0f9391832b10139183e27940043","workPhone":"5555551212","city":"San Jose"}}},"description":"","schema":{"$ref":"#/definitions/GETAccountSummaryType"}}}}}},"definitions":{"AmendRequest":{"properties":{"AmendOptions":{"description":"Use the `AmendOptions` container to specify billing options, such as invoice generation and when to process payments.\n","properties":{"ApplyCreditBalance":{"description":"","type":"boolean"},"ElectronicPaymentOptions":{"$ref":"#/definitions/ElectronicPaymentOptions"},"ExternalPaymentOptions":{"$ref":"#/definitions/ExternalPaymentOptions"},"GenerateInvoice":{"description":"","type":"boolean"},"InvoiceProcessingOptions":{"$ref":"#/definitions/InvoiceProcessingOptions"},"ProcessPayments":{"description":"","type":"boolean"}},"type":"object"},"Amendments":{"items":{"$ref":"#/definitions/Amendment"},"type":"array"},"PreviewOptions":{"properties":{"EnablePreviewMode":{"description":" Determines whether to create an amendment or display a preview of the change.","type":"boolean"},"IncludeExistingDraftInvoiceItems":{"description":" Specifies whether to include draft invoice items in amendment previews.","type":"boolean"},"NumberOfPeriods":{"description":" Indicates the number of invoice periods to show in a preview.","format":"int32","type":"integer"},"PreviewThroughTermEnd":{"description":" Request to preview the charge through the end of the subscription term.","type":"boolean"},"PreviewType":{"description":" The type of preview you will receive from a preview request.","type":"string"}},"type":"object"}},"type":"object"},"AmendResult":{"properties":{"AmendmentIds":{"description":" The IDs of the associated Amendment object. There can be as many as three AmendmentId values.","type":"string"},"ChargeMetricsData":{"$ref":"#/definitions/ChargeMetricsData"},"Errors":{"description":"","items":{"$ref":"#/definitions/Error"},"type":"array"},"GatewayResponse":{"description":"","type":"string"},"GatewayResponseCode":{"description":"","type":"string"},"InvoiceDatas":{"description":"","items":{"$ref":"#/definitions/InvoiceData"},"type":"array"},"InvoiceId":{"description":"","type":"string"},"PaymentId":{"description":"","type":"string"},"PaymentTransactionNumber":{"description":"","type":"string"},"SubscriptionId":{"description":"","type":"string"},"Success":{"description":"","type":"boolean"},"TotalDeltaMrr":{"description":"","format":"double","type":"number"},"TotalDeltaTcv":{"description":"","format":"double","type":"number"}},"type":"object"},"Amendment":{"properties":{"AutoRenew":{"type":"boolean"},"Code":{"description":" A unique alphanumeric string that identifies the amendment.\n\n\n**Character limit**: 50\n\n**Values**: one of the following:\n\n- `null` generates a value automatically\n- A string\n","type":"string"},"ContractEffectiveDate":{"description":" The date when the amendment's changes become effective for billing purposes.\n","format":"date","type":"string"},"CreatedById":{"type":"string"},"CreatedDate":{"format":"date-time","type":"string"},"CurrentTerm":{"format":"int64","type":"integer"},"CurrentTermPeriodType":{"description":" The period type for the current subscription term.\n\n**Values**:\n\n- `Month` (default)\n- `Year`\n- `Day`\n- `Week`\n\n\n**Note**:\n\n- This field can be updated when Status is `Draft`.\n- This field is used with the CurrentTerm field to specify the current subscription term.\n","type":"string"},"CustomerAcceptanceDate":{"description":" The date when the customer accepts the amendment's changes to the subscription. Use this field if [Zuora is configured to require customer acceptance in Z-Billing](https://knowledgecenter.zuora.com/CB_Billing/W_Billing_and_Payments_Settings/Define_Default_Subscription_Settings). **Required**: Only if the value of the Status field is set to PendingAcceptance.\n\n","format":"date","type":"string"},"Description":{"type":"string"},"DestinationAccountId":{"type":"string"},"DestinationInvoiceOwnerId":{"type":"string"},"EffectiveDate":{"description":" The date when the amendment's changes take effective. This field validates that the amendment's changes are within valid ranges of products and product rate plans.\n**Required**: For the cancellation amendments. Optional for other types of amendments.\n\n","format":"date","type":"string"},"Name":{"type":"string"},"RatePlanData":{"description":"A container for one `RatePlanData`.\n","properties":{"RatePlan":{"$ref":"#/definitions/RatePlan"},"RatePlanChargeData":{"description":"","items":{"$ref":"#/definitions/RatePlanChargeData"},"type":"array"},"SubscriptionProductFeatureList":{"$ref":"#/definitions/SubscriptionProductFeatureList"}},"type":"object"},"RenewalSetting":{"type":"string"},"RenewalTerm":{"format":"int64","type":"integer"},"RenewalTermPeriodType":{"description":" The period type for the subscription renewal term. This field can be updated when Status is `Draft`.\n**Required**: Only if the value of the Type field is set to `TermsAndConditions`. This field is used with the RenewalTerm field to specify the subscription renewal term.\n\n\n**Values**:\n\n- `Month` (default)\n- `Year`\n- `Day`\n- `Week`\n","type":"string"},"ServiceActivationDate":{"description":" The date when service is activated. Use this field if [Zuora is configured to require service activation in Z-Billing](https://knowledgecenter.zuora.com/CB_Billing/W_Billing_and_Payments_Settings/Define_Default_Subscription_Settings).\n\n**Required**: Only if the value of the `Status` field is set to `PendingActivation`.\n","format":"date","type":"string"},"SpecificUpdateDate":{"description":"The date when the UpdateProduct amendment takes effect. This field is only applicable if there is already a future-dated UpdateProduct amendment on the subscription.\n\n\n**Required**: Only for the UpdateProduct amendments if there is already a future-dated UpdateProduct amendment on the subscription.\n","format":"date","type":"string"},"Status":{"description":" The status of the amendment. Type: string (enum)\n\n\n\n**Values**: one of the following:\n\n- Draft (default, if left null)\n- Pending Activation\n- Pending Acceptance\n- Completed\n","type":"string"},"SubscriptionId":{"type":"string"},"TermStartDate":{"description":" The date when the new terms and conditions take effect.\n**Required**: Only if the value of the Type field is set to TermsAndConditions.\n","format":"date","type":"string"},"TermType":{"type":"string"},"Type":{"description":" The type of amendment.\n\n\n**Character limit**: 18\n\n\n\n**Values**: one of the following:\n\n- Cancellation\n- NewProduct\n- OwnerTransfer\n- RemoveProduct\n- Renewal\n- UpdateProduct\n- TermsAndConditions\n- SuspendSubscription (This value is in **Limited Availability**.)\n- ResumeSubscription (This value is in **Limited Availability**.)\n","type":"string"},"UpdatedById":{"type":"string"},"UpdatedDate":{"format":"date-time","type":"string"}},"type":"object"},"ChargeMetricsData":{"properties":{"ChargeMetrics":{"description":"","items":{"$ref":"#/definitions/NewChargeMetrics"},"type":"array"}},"type":"object"},"CommonResponseType":{"properties":{"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"DeleteResult":{"properties":{"errors":{"description":"If the delete failed, this contains an array of Error objects.\n","items":{"$ref":"#/definitions/Error"},"type":"array"},"id":{"description":"ID of the deleted object.\n","type":"string"},"success":{"description":"A boolean field indicating the success of the delete operation. If the delete was successful, it is `true`. Otherwise, `false`.\n","type":"boolean"}},"type":"object"},"ElectronicPaymentOptions":{"properties":{"PaymentMethodId":{"description":"","type":"string"}},"type":"object"},"Error":{"properties":{"Code":{"description":"","type":"string"},"Field":{"description":"","type":"string"},"Message":{"description":"","type":"string"}},"type":"object"},"EventRevenueItemType":{"properties":{"accountingPeriodName":{"description":"Name of the accounting period. The open-ended accounting period is named `Open-Ended`.\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"}},"required":["accountingPeriodName"],"title":"revenueItems","type":"object"},"ExecuteResult":{"properties":{"Errors":{"description":"","items":{"$ref":"#/definitions/Error"},"type":"array"},"Id":{"description":"The ID of the object in the call. The value is the same as the value you provide in the `ids` field for the request.\n","type":"string"},"Success":{"description":"Returns `true` if the call was processed successfully, otherwise `false`.\n","type":"boolean"}},"type":"object"},"ExternalPaymentOptions":{"properties":{"Amount":{"description":"","format":"double","type":"number"},"EffectiveDate":{"description":"","format":"date","type":"string"},"GatewayOrderId":{"description":"","type":"string"},"PaymentMethodId":{"description":"","type":"string"},"ReferenceId":{"description":"","type":"string"}},"type":"object"},"GETAccountSummaryInvoiceType":{"properties":{"amount":{"description":"Invoice amount before adjustments, discounts, and similar items.\n","format":"decimal","type":"string"},"balance":{"description":"Balance due on the invoice.\n","format":"decimal","type":"string"},"dueDate":{"description":"Due date as `yyyy-mm-dd`.\n","format":"date","type":"string"},"id":{"description":"Invoice ID.\n","type":"string"},"invoiceDate":{"description":"Invoice date as `yyyy-mm-dd`.\n","format":"date","type":"string"},"invoiceNumber":{"description":"Invoice number.\n","type":"string"},"status":{"description":"Invoice status - not the payment status of the invoice, just the status of the invoice itself. Possible values are: `Posted`, `Draft`, `Canceled`, `Error`.\n","type":"string"}},"title":"invoices","type":"object"},"GETAccountSummaryPaymentInvoiceType":{"properties":{"appliedPaymentAmount":{"description":"Amount of payment applied to the invoice.\n","format":"decimal","type":"string"},"invoiceId":{"description":"Invoice ID.\n","type":"string"},"invoiceNumber":{"description":"Invoice number.\n","type":"string"}},"title":"paidInvoices","type":"object"},"GETAccountSummaryPaymentType":{"properties":{"effectiveDate":{"description":"Effective date as `yyyy-mm-dd`.\n","format":"date","type":"string"},"id":{"description":"Payment ID.\n","type":"string"},"paidInvoices":{"description":"Container for paid invoices for this subscription.\n","items":{"$ref":"#/definitions/GETAccountSummaryPaymentInvoiceType"},"type":"array"},"paymentNumber":{"description":"Payment number.\n","type":"string"},"paymentType":{"description":"Payment type; possible values are: `External`, `Electronic`.\n","type":"string"},"status":{"description":"Payment status. Possible values are: `Draft`, `Processing`, `Processed`, `Error`, `Voided`, `Canceled`, `Posted`.\n","type":"string"}},"title":"payments","type":"object"},"GETAccountSummarySubscriptionRatePlanType":{"properties":{"productId":{"description":"Product ID.\n","type":"string"},"productName":{"description":"Product name.\n","type":"string"},"productRatePlanId":{"description":"Product Rate Plan ID.\n","type":"string"},"productSku":{"description":"","type":"string"},"ratePlanName":{"description":"Rate plan name.\n","type":"string"}},"title":"ratePlans","type":"object"},"GETAccountSummarySubscriptionType":{"properties":{"CpqBundleJsonId__QT":{"description":"","type":"string"},"OpportunityCloseDate__QT":{"description":"","type":"string"},"OpportunityName__QT":{"description":"","type":"string"},"QuoteBusinessType__QT":{"description":"","type":"string"},"QuoteNumber__QT":{"description":"","type":"string"},"QuoteType__QT":{"description":"","type":"string"},"autoRenew":{"description":"If `true`, auto-renew is enabled. If `false`, auto-renew is disabled.\n","type":"boolean"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"id":{"description":"Subscription ID.\n","type":"string"},"initialTerm":{"type":"string"},"ratePlans":{"description":"Container for rate plans for this subscription.\n","items":{"$ref":"#/definitions/GETAccountSummarySubscriptionRatePlanType"},"type":"array"},"renewalTerm":{"description":"Duration of the renewal term in whole months.\n","type":"string"},"status":{"description":"Subscription status; possible values are: `Draft`, `PendingActivation`, `PendingAcceptance`, `Active`, `Cancelled`, `Expired`.\n","type":"string"},"subscriptionNumber":{"description":"Subscription Number.\n","type":"string"},"subscriptionStartDate":{"description":"Subscription start date.\n","format":"date","type":"string"},"termEndDate":{"description":"End date of the subscription term. If the subscription is evergreen, this is either null or equal to the cancellation date, as appropriate.\n","format":"date","type":"string"},"termStartDate":{"description":"Start date of the subscription term. If this is a renewal subscription, this date is different than the subscription start date.\n","format":"date","type":"string"},"termType":{"description":"Possible values are: `TERMED`, `EVERGREEN`.\n","type":"string"}},"title":"subscriptions","type":"object"},"GETAccountSummaryType":{"properties":{"basicInfo":{"description":"Container for basic information about the account.\n","properties":{"accountNumber":{"description":"Account number.\n","type":"string"},"additionalEmailAddresses":{"description":"A list of additional email addresses to receive emailed invoices.\n","items":{"type":"string"},"type":"array"},"balance":{"description":"Current outstanding balance.\n","format":"decimal","type":"string"},"batch":{"description":"The alias name given to a batch. A string of 50 characters or less.\n","type":"string"},"billCycleDay":{"description":"Billing cycle day (BCD), the day of the month when a bill run generates invoices for the account.\n","type":"string"},"currency":{"description":"A currency value.\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"defaultPaymentMethod":{"description":"","properties":{"creditCardExpirationMonth":{"description":"Two-digit numeric card expiration month as `mm`.\n","type":"string"},"creditCardExpirationYear":{"description":"Four-digit card expiration year as `yyyy`.\n","type":"string"},"creditCardNumber":{"description":"Credit card number, 16 characters or less, displayed in masked format (e.g., ************1234).\n","type":"string"},"creditCardType":{"description":"Possible values are: `Visa`, `MasterCard`, `AmericanExpress`, `Discover`.\n","type":"string"},"id":{"description":"The ID of the credit card payment method associated with this account.\n","type":"string"},"paymentMethodType":{"description":"","type":"string"}},"type":"object"},"id":{"description":"Account ID.\n","type":"string"},"invoiceDeliveryPrefsEmail":{"type":"boolean"},"invoiceDeliveryPrefsPrint":{"description":"Whether the customer wants to receive printed invoices, such as through postal mail.\n","type":"boolean"},"lastInvoiceDate":{"description":"Date of the most recent invoice for the account; null if no invoice has ever been generated.\n","format":"date","type":"string"},"lastPaymentAmount":{"description":"Amount of the most recent payment collected for the account; null if no payment has ever been collected.\n","format":"decimal","type":"string"},"lastPaymentDate":{"description":"Date of the most recent payment collected for the account. Null if no payment has ever been collected.\n","format":"date","type":"string"},"name":{"description":"Account name.\n","type":"string"},"status":{"description":"Account status; possible values are: `Active`, `Draft`, `Canceled`.\n","type":"string"},"tags":{"description":"","type":"string"}},"type":"object"},"billToContact":{"description":"Container for bill-to contact information.","properties":{"address1":{"description":"First address line, 255 characters or less.\n","type":"string"},"address2":{"description":"Second address line, 255 characters or less.\n","type":"string"},"city":{"description":"City, 40 characters or less.\n","type":"string"},"country":{"description":"A valid country name or abbreviation.\n","type":"string"},"county":{"description":"County; 32 characters or less. Zuora Tax uses this information to calculate county taxation.          ","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"fax":{"description":"Fax phone number, 40 characters or less.\n","type":"string"},"firstName":{"description":"First name, 100 characters or less.\n","type":"string"},"id":{"description":"Contact ID.\n","type":"string"},"lastName":{"description":"Last name, 100 characters or less.\n","type":"string"},"state":{"description":"State name or 2-character abbreviation.\n","type":"string"},"taxRegion":{"description":"A region string, defined in your Zuora tax rules.\n","type":"string"},"workEmail":{"description":"Work email address, 80 characters or less.\n","type":"string"},"workPhone":{"description":"Work phone number, 40 characters or less.\n","type":"string"},"zipCode":{"description":"Zip code, 20 characters or less.\n","type":"string"}},"type":"object"},"invoices":{"description":"Container for invoices. Only returns the last 6 invoices.\n","items":{"$ref":"#/definitions/GETAccountSummaryInvoiceType"},"type":"array"},"payments":{"description":"Container for payments. Only returns the last 6 payments.\n","items":{"$ref":"#/definitions/GETAccountSummaryPaymentType"},"type":"array"},"soldToContact":{"description":"Container for sold-to contact information; uses the same structure as `billToContact`.\n","properties":{"address1":{"description":"First address line, 255 characters or less.\n","type":"string"},"address2":{"description":"Second address line, 255 characters or less.\n","type":"string"},"city":{"description":"City, 40 characters or less.\n","type":"string"},"country":{"description":"A valid country name or abbreviation\n","type":"string"},"county":{"description":"County; 32 characters or less. Zuora Tax uses this information to calculate county taxation.          ","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"fax":{"description":"Fax phone number, 40 characters or less.\n","type":"string"},"firstName":{"description":"First name, 100 characters or less.\n","type":"string"},"id":{"description":"Contact ID.\n","type":"string"},"lastName":{"description":"Last name, 100 characters or less.\n","type":"string"},"state":{"description":"State name or 2-character abbreviation.\n","type":"string"},"taxRegion":{"description":"A region string, defined in your Zuora tax rules.\n","type":"string"},"workEmail":{"description":"Work email address, 80 characters or less.\n","type":"string"},"workPhone":{"description":"Work phone number, 40 characters or less.\n","type":"string"},"zipCode":{"description":"Zip code, 20 characters or less.\n","type":"string"}},"type":"object"},"subscriptions":{"description":"Container for subscriptions.\n","items":{"$ref":"#/definitions/GETAccountSummarySubscriptionType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"taxInfo":{"description":"Container for tax exempt information, used to establish the tax exempt status of a customer account.\n","properties":{"VATId":{"description":"EU Value Added Tax ID.\n","type":"string"},"companyCode":{"description":"Unique code that identifies a company account in Avalara.\n","type":"string"},"exemptCertificateId":{"description":"ID of the customer tax exemption certificate.\n","type":"string"},"exemptCertificateType":{"description":"Type of tax exemption certificate that the customer holds.\n","type":"string"},"exemptDescription":{"description":"Description of the tax exemption certificate that the customer holds.\n","type":"string"},"exemptEffectiveDate":{"description":"Date when the customer tax exemption starts.\n","format":"date","type":"string"},"exemptExpirationDate":{"description":"Date when the customer tax exemption expires.\n","format":"date","type":"string"},"exemptIssuingJurisdiction":{"description":"Jurisdiction in which the customer tax exemption certificate was issued.\n","type":"string"},"exemptStatus":{"description":"Status of the account tax exemption.\n","type":"string"}},"type":"object"},"usage":{"description":"Container for usage data. Only returns the last 6 months of usage.\n","items":{"$ref":"#/definitions/GETAccountSummaryUsageType"},"type":"array"}},"type":"object"},"GETAccountSummaryUsageType":{"properties":{"quantity":{"description":"Number of units used.\n","format":"decimal","type":"string"},"startDate":{"description":"The start date of a usage period as `yyyy-mm`. Zuora uses this field value to determine the usage date.\n","format":"date","type":"string"},"unitOfMeasure":{"description":"Unit by which consumption is measured, as configured in the Billing Settings section of the web-based UI.\n","type":"string"}},"title":"usage","type":"object"},"GETAccountType":{"properties":{"basicInfo":{"description":"Container for basic information about the account.\n","properties":{"accountNumber":{"description":"Account number.\n","type":"string"},"batch":{"description":"The alias name given to a batch. A string of 50 characters or less.\n","type":"string"},"communicationProfileId":{"description":"ID of a communication profile.\n","type":"string"},"crmId":{"description":"CRM account ID for the account, 100 characters or less.\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"id":{"description":"Account ID.\n","type":"string"},"invoiceTemplateId":{"description":"Invoice template ID, configured in Billing Settings in the Zuora UI.\n","type":"string"},"name":{"description":"Account name.\n","type":"string"},"notes":{"description":"Notes associated with the account, up to 65,535 characters.\n","type":"string"},"status":{"description":"Account status; possible values are: `Active`, `Draft`, `Canceled`.\n","type":"string"},"tags":{"description":"","type":"string"}},"type":"object"},"billToContact":{"description":"Container for bill-to contact information.\n","properties":{"address1":{"description":"First address line, 255 characters or less.\n","type":"string"},"address2":{"description":"Second address line, 255 characters or less.\n","type":"string"},"city":{"description":"City, 40 characters or less.\n","type":"string"},"country":{"description":"Country name or abbreviation.\n","type":"string"},"county":{"description":"County; 32 characters or less. Zuora Tax uses this information to calculate county taxation.          ","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"fax":{"description":"Fax phone number, 40 characters or less.\n","type":"string"},"firstName":{"description":"First name, 100 characters or less.\n","type":"string"},"homePhone":{"description":"Home phone number, 40 characters or less.\n","type":"string"},"lastName":{"description":"Last name, 100 characters or less.\n","type":"string"},"mobilePhone":{"description":"Mobile phone number, 40 characters or less.\n","type":"string"},"nickname":{"description":"Nickname for this contact.\n","type":"string"},"otherPhone":{"description":"Other phone number, 40 characters or less.\n","type":"string"},"otherPhoneType":{"description":"Possible values are: `Work`, `Mobile`, `Home`, `Other`.\n","type":"string"},"personalEmail":{"description":"Personal email address, 80 characters or less.\n","type":"string"},"state":{"description":"State name or 2-character abbreviation.\n","type":"string"},"taxRegion":{"description":"A region string, defined in your Zuora tax rules.\n","type":"string"},"workEmail":{"description":"Work email address, 80 characters or less.\n","type":"string"},"workPhone":{"description":"Work phone number, 40 characters or less.\n","type":"string"},"zipCode":{"description":"Zip code, 20 characters or less.\n","type":"string"}},"type":"object"},"billingAndPayment":{"description":"Container for billing and payment information for the account.\n","properties":{"additionalEmailAddresses":{"description":"A list of additional email addresses to receive emailed invoices.\n","items":{"type":"string"},"type":"array"},"billCycleDay":{"description":"Billing cycle day (BCD), the day of the month when a bill run generates invoices for the account.\n","type":"string"},"currency":{"description":"A currency defined in the web-based UI administrative settings.\n","type":"string"},"invoiceDeliveryPrefsEmail":{"type":"boolean"},"invoiceDeliveryPrefsPrint":{"description":"Whether the customer wants to receive printed invoices, such as through postal mail.\n","type":"boolean"},"paymentGateway":{"description":"The name of the payment gateway instance. If null or left unassigned, the Account will use the Default Gateway.\n","type":"string"},"paymentTerm":{"description":"A payment-terms indicator defined in the web-based UI administrative settings, e.g., \"Net 30\".\n","type":"string"}},"type":"object"},"metrics":{"description":"Container for account metrics.\n","properties":{"balance":{"description":"The customer's total invoice balance minus credit balance.\n","format":"decimal","type":"string"},"contractedMrr":{"description":"Future expected MRR that accounts for future upgrades, downgrades, upsells and cancellations.\n","format":"decimal","type":"string"},"creditBalance":{"description":"Current credit balance.\n","format":"decimal","type":"string"},"totalInvoiceBalance":{"description":"Total of all open invoices.\n","format":"decimal","type":"string"}},"type":"object"},"soldToContact":{"description":"Container for sold-to contact information. Uses the same field structure as billToContact.\n","properties":{"address1":{"description":"First address line, 255 characters or less.\n","type":"string"},"address2":{"description":"Second address line, 255 characters or less.\n","type":"string"},"city":{"description":"City, 40 characters or less.\n","type":"string"},"country":{"description":"Country name or abbreviation.\n","type":"string"},"county":{"description":"County; 32 characters or less. Zuora tax uses this information to calculate county taxation.          ","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"fax":{"description":"Fax phone number, 40 characters or less.\n","type":"string"},"firstName":{"description":"First name, 100 characters or less.\n","type":"string"},"homePhone":{"description":"Home phone number, 40 characters or less.\n","type":"string"},"lastName":{"description":"Last name, 100 characters or less.\n","type":"string"},"mobilePhone":{"description":"Mobile phone number, 40 characters or less.\n","type":"string"},"nickname":{"description":"Nickname for this contact.\n","type":"string"},"otherPhone":{"description":"Other phone number, 40 characters or less.\n","type":"string"},"otherPhoneType":{"description":"Possible values are: `Work`, `Mobile`, `Home`, `Other`.\n","type":"string"},"personalEmail":{"description":"Personal email address, 80 characters or less.\n","type":"string"},"state":{"description":"State name or 2-character abbreviation.\n","type":"string"},"taxRegion":{"description":"A region string, defined in your Zuora tax rules.\n","type":"string"},"workEmail":{"description":"Work email address, 80 characters or less.\n","type":"string"},"workPhone":{"description":"Work phone number, 40 characters or less.\n","type":"string"},"zipCode":{"description":"Zip code, 20 characters or less.\n","type":"string"}},"type":"object"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"taxInfo":{"description":"Container for tax exempt information, used to establish the tax exempt status of a customer account.\n","properties":{"VATId":{"description":"EU Value Added Tax ID.\n","type":"string"},"companyCode":{"description":"Unique code that identifies a company account in Avalara.\n","type":"string"},"exemptCertificateId":{"description":"ID of the customer tax exemption certificate.\n","type":"string"},"exemptCertificateType":{"description":"Type of tax exemption certificate that the customer holds.\n","type":"string"},"exemptDescription":{"description":"Description of the tax exemption certificate that the customer holds.\n","type":"string"},"exemptEffectiveDate":{"description":"Date when the customer tax exemption starts.\n","format":"date","type":"string"},"exemptExpirationDate":{"description":"Date when the customer tax exemption expires.\n","format":"date","type":"string"},"exemptIssuingJurisdiction":{"description":"Jurisdiction in which the customer tax exemption certificate was issued.\n","type":"string"},"exemptStatus":{"description":"Status of the account tax exemption.\n","type":"string"}},"type":"object"}},"type":"object"},"GETAccountingCodeItemType":{"properties":{"category":{"description":"The category associated with the accounting code.\n\nPossible values:\n* `Assets`\n* `Liabilities`\n* `Equity`\n* `Revenue`\n* `Expenses`\n","type":"string"},"createdBy":{"description":"The ID of the user who created the accounting code.\n","type":"string"},"createdOn":{"description":"Date and time when the accounting code was created.\n","format":"date-time","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"glAccountName":{"description":"Name of the account in your general ledger.\n\nField only available if you have Zuora Finance enabled.\n","type":"string"},"glAccountNumber":{"description":"Account number in your general ledger.\n\nField only available if you have Zuora Finance enabled.\n","type":"string"},"id":{"description":"ID of the accounting code.\n","type":"string"},"name":{"description":"Name of the accounting code.\n","type":"string"},"notes":{"description":"Any optional notes for the accounting code.\n","type":"string"},"status":{"description":"The accounting code status.\n\nPossible values:\n* `Active`\n* `Inactive`\n","type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"type":{"description":"Accounting code type.\n\nPossible values:\n* `AccountsReceivable`\n* `Cash`\n* `OtherAssets`\n* `CustomerCashOnAccount`\n* `DeferredRevenue`\n* `SalesTaxPayable`\n* `OtherLiabilities`\n* `SalesRevenue`\n* `SalesDiscounts`\n* `OtherRevenue`\n* `OtherEquity`\n* `BadDebt`\n* `OtherExpenses`\n","type":"string"},"updatedBy":{"description":"The ID of the user who last updated the accounting code.\n","type":"string"},"updatedOn":{"description":"Date and time when the accounting code was last updated.\n","format":"date-time","type":"string"}},"type":"object"},"GETAccountingCodeItemWithoutSuccessType":{"properties":{"category":{"description":"The category associated with the accounting code.\n\nPossible values:\n* `Assets`\n* `Liabilities`\n* `Equity`\n* `Revenue`\n* `Expenses`\n","type":"string"},"createdBy":{"description":"The ID of the user who created the accounting code.\n","type":"string"},"createdOn":{"description":"Date and time when the accounting code was created.\n","format":"date-time","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"glAccountName":{"description":"Name of the account in your general ledger.\n\nField only available if you have Zuora Finance enabled.\n","type":"string"},"glAccountNumber":{"description":"Account number in your general ledger.\n\nField only available if you have Zuora Finance enabled.\n","type":"string"},"id":{"description":"ID of the accounting code.\n","type":"string"},"name":{"description":"Name of the accounting code.\n","type":"string"},"notes":{"description":"Any optional notes for the accounting code.\n","type":"string"},"status":{"description":"The accounting code status.\n\nPossible values:\n* `Active`\n* `Inactive`\n","type":"string"},"type":{"description":"Accounting code type.\n\nPossible values:\n* `AccountsReceivable`\n* `Cash`\n* `OtherAssets`\n* `CustomerCashOnAccount`\n* `DeferredRevenue`\n* `SalesTaxPayable`\n* `OtherLiabilities`\n* `SalesRevenue`\n* `SalesDiscounts`\n* `OtherRevenue`\n* `OtherEquity`\n* `BadDebt`\n* `OtherExpenses`\n","type":"string"},"updatedBy":{"description":"The ID of the user who last updated the accounting code.\n","type":"string"},"updatedOn":{"description":"Date and time when the accounting code was last updated.\n","format":"date-time","type":"string"}},"title":"accountingCodes","type":"object"},"GETAccountingCodesType":{"properties":{"accountingCodes":{"description":"An array of all the accounting codes in your chart of accounts. Each accounting code has the following fields.\n","items":{"$ref":"#/definitions/GETAccountingCodeItemWithoutSuccessType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETAccountingPeriodFileIdsType":{"properties":{"accountsReceivableAccountAgingDetailExportFileId":{"description":"File ID of the Accounts Receivable Aging Account Detail report.\n","type":"string"},"accountsReceivableInvoiceAgingDetailExportFileId":{"description":"File ID of the Accounts Receivable Aging Invoice Detail report.\n","type":"string"},"arRollForwardDetailExportFileId":{"description":"File ID of the Accounts Receivable Detail report.\n","type":"string"},"fxRealizedGainAndLossDetailExportFileId":{"description":"File ID of the Realized Gain and Loss Detail report.\n\nReturned only if you have Foreign Currency Conversion enabled.\n","type":"string"},"fxUnrealizedGainAndLossDetailExportFileId":{"description":"File ID of the Unrealized Gain and Loss Detail report.\n\nReturned only if you have Foreign Currency Conversion enabled\n","type":"string"},"revenueDetailCsvFileId":{"description":"File ID of the Revenue Detail report in CSV format.\n","type":"string"},"revenueDetailExcelFileId":{"description":"File ID of the Revenue Detail report in XLSX format.\n","type":"string"},"unprocessedChargesFileId":{"description":"File ID of a report containing all unprocessed charges for the accounting period.\n","type":"string"}},"title":"fileIds","type":"object"},"GETAccountingPeriodType":{"properties":{"createdBy":{"description":"ID of the user who created the accounting period.\n","type":"string"},"createdOn":{"description":"Date and time when the accounting period was created.\n","format":"date-time","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"endDate":{"description":"The end date of the accounting period.\n","format":"date","type":"string"},"fileIds":{"description":"File IDs of the reports available for the accounting period. You can retrieve the reports by specifying the file ID in a [Get Files](https://knowledgecenter.zuora.com/DC_Developers/REST_API/B_REST_API_reference/Get_Files) REST API call.\n","items":{"$ref":"#/definitions/GETAccountingPeriodFileIdsType"},"type":"array"},"fiscalYear":{"description":"Fiscal year of the accounting period.\n","type":"string"},"fiscal_quarter":{"description":"","format":"int64","type":"integer"},"id":{"description":"ID of the accounting period.\n","type":"string"},"name":{"description":"Name of the accounting period.\n","type":"string"},"notes":{"description":"Any optional notes about the accounting period.\n","type":"string"},"runTrialBalanceEnd":{"description":"Date and time that the trial balance was completed. If the trial balance status is `Pending`, `Processing`, or `Error`, this field is `null`.\n","format":"date-time","type":"string"},"runTrialBalanceErrorMessage":{"description":"If trial balance status is Error, an error message is returned in this field.\n","type":"string"},"runTrialBalanceStart":{"description":"Date and time that the trial balance was run. If the trial balance status is Pending, this field is null.\n","format":"date-time","type":"string"},"runTrialBalanceStatus":{"description":"Status of the trial balance for the accounting period. Possible values:\n\n* `Pending`\n* `Processing`\n* `Completed`\n* `Error`\n","type":"string"},"startDate":{"description":"The start date of the accounting period.\n","format":"date","type":"string"},"status":{"description":"Status of the accounting period. Possible values:\n* `Open`\n* `PendingClose`\n* `Closed`\n","type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"updatedBy":{"description":"ID of the user who last updated the accounting period.\n","type":"string"},"updatedOn":{"description":"Date and time when the accounting period was last updated.\n","format":"date-time","type":"string"}},"type":"object"},"GETAccountingPeriodWithoutSuccessType":{"properties":{"createdBy":{"description":"ID of the user who created the accounting period.\n","type":"string"},"createdOn":{"description":"Date and time when the accounting period was created.\n","format":"date-time","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"endDate":{"description":"The end date of the accounting period.\n","format":"date","type":"string"},"fileIds":{"description":"File IDs of the reports available for the accounting period. You can retrieve the reports by specifying the file ID in a [Get Files](https://knowledgecenter.zuora.com/DC_Developers/REST_API/B_REST_API_reference/Get_Files) REST API call.\n","items":{"$ref":"#/definitions/GETAccountingPeriodFileIdsType"},"type":"array"},"fiscalYear":{"description":"Fiscal year of the accounting period.\n","type":"string"},"fiscal_quarter":{"description":"","format":"int64","type":"integer"},"id":{"description":"ID of the accounting period.\n","type":"string"},"name":{"description":"Name of the accounting period.\n","type":"string"},"notes":{"description":"Any optional notes about the accounting period.\n","type":"string"},"runTrialBalanceEnd":{"description":"Date and time that the trial balance was completed. If the trial balance status is `Pending`, `Processing`, or `Error`, this field is `null`.\n","format":"date-time","type":"string"},"runTrialBalanceErrorMessage":{"description":"If trial balance status is Error, an error message is returned in this field.\n","type":"string"},"runTrialBalanceStart":{"description":"Date and time that the trial balance was run. If the trial balance status is `Pending`, this field is `null`.\n","format":"date-time","type":"string"},"runTrialBalanceStatus":{"description":"Status of the trial balance for the accounting period. Possible values:\n\n* `Pending`\n* `Processing`\n* `Completed`\n* `Error`\n","type":"string"},"startDate":{"description":"The start date of the accounting period.\n","format":"date","type":"string"},"status":{"description":"Status of the accounting period. Possible values:\n\n* `Open`\n* `PendingClose`\n* `Closed`\n","type":"string"},"updatedBy":{"description":"D of the user who last updated the accounting period.\n","type":"string"},"updatedOn":{"description":"Date and time when the accounting period was last updated.\n","format":"date-time","type":"string"}},"title":"accountingPeriods","type":"object"},"GETAccountingPeriodsType":{"properties":{"accountingPeriods":{"description":"An array of all accounting periods on your tenant. The accounting periods are returned in ascending order of start date; that is, the latest period is returned first.\n","items":{"$ref":"#/definitions/GETAccountingPeriodWithoutSuccessType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETAmendmentType":{"properties":{"autoRenew":{"type":"boolean"},"baseRatePlanId":{"description":"The rate plan ID on which changes are made. Only the Update or Remove amendment returns a base rate plan ID.\n","type":"string"},"baseSubscriptionId":{"description":"The ID of the subscription based on which the amendment is created.\n","type":"string"},"code":{"description":"The amendment code.\n","type":"string"},"contractEffectiveDate":{"description":"The date when the amendment becomes effective for billing purposes, as `yyyy-mm-dd`.\n","format":"date","type":"string"},"currentTerm":{"format":"int64","type":"integer"},"currentTermPeriodType":{"description":"The period type for the current subscription term.\nPossible values are:\n\n- Month\n- Year\n- Day\n- Week\n","type":"string"},"customerAcceptanceDate":{"description":"The date when the customer accepts the amendment changes to the subscription, as `yyyy-mm-dd`.\n","format":"date","type":"string"},"description":{"description":"Description of the amendment.\n","type":"string"},"destinationAccountId":{"description":"The ID of the account that the subscription is being transferred to.\n","type":"string"},"destinationInvoiceOwnerId":{"description":"The ID of the invoice that the subscription is being transferred to.\n","type":"string"},"effectiveDate":{"format":"date","type":"string"},"id":{"description":"The amendment ID.\n","type":"string"},"name":{"description":"The name of the amendment.\n","type":"string"},"newRatePlanId":{"description":"The ID of the rate plan charge on which amendment is made. Only the Add or Update amendment returns a new rate plan ID.\n","type":"string"},"newSubscriptionId":{"description":"The ID of the subscription that the amendment changes.\n","type":"string"},"renewalSetting":{"description":"Specifies whether a termed subscription will remain termed or change to evergreen when it is renewed.\nPossible values are:\n\n- RENEW_WITH_SPECIFIC_TERM\n- RENEW_TO_EVERGREEN\n","type":"string"},"renewalTerm":{"description":"The term of renewal for the amended subscription.\n","format":"int64","type":"integer"},"renewalTermPeriodType":{"description":"The period type for the subscription renewal term.\nPossible values are:\n\n- Month\n- Year\n- Day\n- Week\n","type":"string"},"resumeDate":{"description":"The date when the subscription resumption takes effect, as `yyyy-mm-dd`.\n\n**Note:** This feature is in **Limited Availability**. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).\n","format":"date","type":"string"},"serviceActivationDate":{"description":"The date when service is activated, as `yyyy-mm-dd`.\n","format":"date","type":"string"},"specificUpdateDate":{"format":"date","type":"string"},"status":{"type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"suspendDate":{"description":"The date when the subscription suspension takes effect, as `yyyy-mm-dd`.\n\n**Note:** This feature is in **Limited Availability**. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).\n","format":"date","type":"string"},"termStartDate":{"description":"The date when the new terms and conditions take effect.\n","format":"date","type":"string"},"termType":{"description":"Indicates if the subscription is `TERMED` or `EVERGREEN`.\n","type":"string"},"type":{"description":"Type of the amendment.\nPossible values are:\n\n- Cancellation\n- NewProduct\n- OwnerTransfer\n- RemoveProduct\n- Renewal\n- UpdateProduct\n- TermsAndConditions\n","type":"string"}},"type":"object"},"GETAttachmentResponseType":{"properties":{"createdBy":{"description":"Zuora user id who added this attachment to the object.\n","type":"string"},"createdOn":{"description":"Date and time when the attachment was added to the object.\n","format":"date-time","type":"string"},"description":{"description":"Description of the attachment.\n","type":"string"},"fileContentType":{"description":"File type.\n","type":"string"},"fileId":{"description":"File id of the attached file.\n","type":"string"},"fileName":{"description":"Attachment file name.\n","type":"string"},"id":{"description":"Id of this attachment.\n","type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"updatedBy":{"description":"Zuora user id who last updated the attachment.\n","type":"string"},"updatedOn":{"description":"Date and time when the attachment was last updated.\n","format":"date-time","type":"string"}},"type":"object"},"GETAttachmentResponseWithoutSuccessType":{"properties":{"createdBy":{"description":"Zuora user id of who added this attachment to the object.\n","type":"string"},"createdOn":{"description":"Date and time when the attachment was added to the object.\n","format":"date-time","type":"string"},"description":{"description":"Description of the attachment.\n","type":"string"},"fileContentType":{"description":"Attachment file type.\n","type":"string"},"fileId":{"description":"File id of the attached file.\n","type":"string"},"fileName":{"description":"Attachment file name.\n","type":"string"},"id":{"description":"Zuora id of this attachement.\n","type":"string"},"updatedBy":{"description":"Zuora user id who last updated the attachment.\n","type":"string"},"updatedOn":{"description":"Date and time when the attachment was last updated.\n","format":"date-time","type":"string"}},"title":"attachments","type":"object"},"GETAttachmentsResponseType":{"properties":{"attachments":{"description":"Container for one or more attachments.\n","items":{"$ref":"#/definitions/GETAttachmentResponseWithoutSuccessType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETCalloutHistoryVOType":{"properties":{"attemptedNum":{"description":"The number of times the callout was retried.\n","type":"string"},"createTime":{"description":"The time that the calloutHistory record was made.\n","type":"string"},"eventCategory":{"description":"The event category for the callout.\n","type":"string"},"eventContext":{"description":"The context of the callout event.\n","type":"string"},"notification":{"description":"The name of the notification.\n","type":"string"},"requestMethod":{"description":"The request method set in notifications settings.\n","type":"string"},"requestUrl":{"description":"The base url set in notifications settings.\n","type":"string"},"responseCode":{"description":"The responseCode of the request.\n","type":"string"},"responseContent":{"description":"","type":"string"}},"title":"calloutHistories","type":"object"},"GETCalloutHistoryVOsType":{"properties":{"calloutHistories":{"description":"A container for callout histories.\n","items":{"$ref":"#/definitions/GETCalloutHistoryVOType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETCatalogType":{"properties":{"products":{"description":"Container for one or more products:\n","items":{"$ref":"#/definitions/GETProductType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETChargeRSDetailType":{"properties":{"accountId":{"description":"An account ID.\n","type":"string"},"amount":{"description":"The revenue schedule amount, which is the sum of all revenue items. This field cannot be null and must be formatted based on the currency, such as *JPY 30* or USD *30.15*. Test out the currency to ensure you are using the proper formatting otherwise, the response will fail and this error message is returned:  *\"Allocation amount with wrong decimal places.\"*\n","format":"decimal","type":"string"},"currency":{"type":"string"},"notes":{"description":"Additional information about this record.\n","type":"string"},"number":{"description":"The charge revenue summary number.\n","type":"string"},"recognitionRuleName":{"description":"The name of the recognition rule.\n","type":"string"},"recognizedRevenue":{"description":"The revenue that was distributed in a closed accounting period.\n","format":"decimal","type":"string"},"revenueItems":{"description":"Revenue items are listed in ascending order by the accounting period start date.\n","items":{"$ref":"#/definitions/GETRevenueItemType"},"type":"array"},"subscriptionChargeId":{"description":"The original subscription charge ID.\n","type":"string"},"subscriptionId":{"description":"The original subscription ID.\n","type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"undistributedUnrecognizedRevenue":{"description":"Revenue in the open-ended accounting period.\n","format":"decimal","type":"string"},"unrecognizedRevenue":{"description":"Revenue distributed in all open accounting periods, which includes the open-ended accounting period.\n","format":"decimal","type":"string"}},"type":"object"},"GETCustomExchangeRatesDataType":{"properties":{"DATE":{"description":"Container for exchange rate information on a given date. The field name is the date in `yyyy-mm-dd` format, for example, 2016-01-15.\n","properties":{"CURRENCY":{"description":"The exchange rate on the **providerExchangeRateDate**. The field name is the ISO currency code of the currency, for example, `EUR`.\n\nThere may be more than one currency returned for a given **providerExchangeRateDate**. If the rate for a certain currency is not available on the **providerExchangeRateDate**, the currency is not returned in the response.\n","type":"string"},"providerExchangeRateDate":{"description":"The date of the exchange rate used. The date is in `yyyy-mm-dd` format.\n\nCorresponds to the value specified in the Provider Exchange Rate Date column in the Import Foreign Exchange Rates template when you uploaded the rates through the Mass Updater.\n","format":"date","type":"string"}},"title":"List of exchange rates","type":"object"}},"title":"rates","type":"object"},"GETCustomExchangeRatesType":{"properties":{"inverse":{"description":"- If `true`, the exchange rate in the response is an inverse exchange rate.\n- If `false`, the exchange rate in the response is not an inverse exchange rate.\nThe value is determined by the **Use inverse rate** checkbox in your Zuora Finance Manage Currency Conversion settings.\n","type":"boolean"},"rates":{"items":{"$ref":"#/definitions/GETCustomExchangeRatesDataType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETEmailHistoryVOType":{"properties":{"bcc":{"description":"Blind carbon copy recipients of the email.\n","type":"string"},"cc":{"description":"Carbon Copy recipients of the email.\n","type":"string"},"errorMessage":{"description":"null if the content of result is \"OK\". A description of the error if the content of result is not \"OK\".\n","type":"string"},"eventCategory":{"description":"The event category of the email.\n","type":"string"},"fromEmail":{"description":"The sender of the email.\n","type":"string"},"notification":{"description":"The name of the notification.\n","type":"string"},"replyTo":{"description":"The reply-to address as configured in the email template.\n","type":"string"},"result":{"description":"The result from the mail server of sending the email.\n","type":"string"},"sendTime":{"description":"The date and time the email was sent.\n","type":"string"},"subject":{"description":"The subject of the email.\n","type":"string"},"toEmail":{"description":"The intended recipient of the email.\n","type":"string"}},"title":"emailHistories","type":"object"},"GETEmailHistoryVOsType":{"properties":{"emailHistories":{"description":"A container for email histories.\n","items":{"$ref":"#/definitions/GETEmailHistoryVOType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETInvoiceFileType":{"properties":{"id":{"description":"ID of the invoice PDF file.\nThis is the ID for the file object and different from the file handle id in the pdfFileUrl field. To open a file, you need to use the file handle ID.\n","type":"string"},"pdfFileUrl":{"description":"REST URL for the invoice PDF file. Click the URL to open the invoice PDF file.\n","type":"string"},"versionNumber":{"description":"Version number of the invoice PDF file\n","format":"int64","type":"integer"}},"title":"invoiceFiles","type":"object"},"GETInvoiceFileWrapper":{"properties":{"invoices":{"description":"Contains information about one or more invoices:\n","items":{"$ref":"#/definitions/GETInvoiceType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETInvoiceType":{"properties":{"accountId":{"description":"Customer account ID.\n","type":"string"},"accountName":{"description":"Customer account name.\n","type":"string"},"accountNumber":{"description":"Customer account number.\n","type":"string"},"amount":{"description":"Amount of the invoice before adjustments, discounts, and similar items.\n","format":"decimal","type":"string"},"balance":{"description":"Balance remaining due on the invoice (after adjustments, discounts, etc.)\n","format":"decimal","type":"string"},"body":{"description":"The REST URL of the invoice PDF file.\n","type":"string"},"createdBy":{"description":"User ID of the person who created the invoice. If a bill run generated the invoice, then this is the user ID of person who created the bill run.\n","type":"string"},"creditBalanceAdjustmentAmount":{"description":"","format":"decimal","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"dueDate":{"description":"Payment due date as _yyyy-mm-dd_.\n","format":"date","type":"string"},"id":{"description":"Invoice ID.\n","type":"string"},"invoiceDate":{"description":"Invoice date as _yyyy-mm-dd_\n","format":"date","type":"string"},"invoiceFiles":{"description":"Information about the invoice PDF file:\n","items":{"$ref":"#/definitions/GETInvoiceFileType"},"type":"array"},"invoiceItems":{"description":"Information on one or more items on this invoice:\n","items":{"$ref":"#/definitions/GETInvoicesInvoiceItemType"},"type":"array"},"invoiceNumber":{"description":"Unique invoice ID, returned as a string.\n","type":"string"},"invoiceTargetDate":{"description":"Date through which charges on this invoice are calculated, as _yyyy-mm-dd_.\n","format":"date","type":"string"},"status":{"description":"Status of the invoice in the system - not the payment status, but the status of the invoice itself. Possible values are: `Posted`, `Draft`, `Canceled`, `Error`.\n","type":"string"}},"title":"invoices","type":"object"},"GETInvoicesInvoiceItemType":{"properties":{"chargeAmount":{"description":"The amount of the charge. This amount doesn't include taxes regardless if the charge's tax mode is inclusive or exclusive.\n","format":"decimal","type":"string"},"chargeDescription":{"description":"Description of the charge.\n","type":"string"},"chargeId":{"description":"ID of the charge.\n","type":"string"},"chargeName":{"description":"Name of the charge.\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"id":{"description":"Item ID.\n","type":"string"},"productName":{"description":"Name of the product associated with this item.\n","type":"string"},"quantity":{"description":"Quantity of this item, in the configured unit of measure for the charge.\n","format":"decimal","type":"string"},"serviceEndDate":{"description":"End date of the service period for this item, i.e., the last day of the service period, as _yyyy-mm-dd_.\n","format":"date","type":"string"},"serviceStartDate":{"description":"Start date of the service period for this item, as _yyyy-mm-dd_. For a one-time fee item, the date of the charge.\n","format":"date","type":"string"},"subscriptionId":{"description":"ID of the subscription for this item.\n","type":"string"},"subscriptionName":{"description":"Name of the subscription for this item.\n","type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"taxAmount":{"description":"Tax applied to the charge.\n","format":"decimal","type":"string"},"unitOfMeasure":{"description":"Unit used to measure consumption.\n","type":"string"}},"title":"invoiceItems","type":"object"},"GETJournalEntriesInJournalRunType":{"properties":{"journalEntries":{"description":"Key name that represents the list of journal entries.\n","items":{"$ref":"#/definitions/GETJournalEntryDetailTypeWithoutSuccess"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETJournalEntryDetailType":{"properties":{"accountingPeriodName":{"description":"Name of the accounting period that the journal entry belongs to.\n","type":"string"},"aggregateCurrency":{"description":"Returns true if the journal entry is aggregating currencies. That is, if the journal entry was created when the `Aggregate transactions with different currencies during a Journal Run` setting was configured to `Yes`. Otherwise, returns `false`.\n","type":"boolean"},"currency":{"description":"Currency used.\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"homeCurrency":{"description":"Home currency used.\n","type":"string"},"journalEntryDate":{"description":"Date of the journal entry.\n","format":"date","type":"string"},"journalEntryItems":{"description":"Key name that represents the list of journal entry items.\n","items":{"$ref":"#/definitions/GETJournalEntryItemType"},"type":"array"},"notes":{"description":"\nAdditional information about this record.\nCharacter limit: 2,000\n","type":"string"},"number":{"description":"Journal entry number in the format JE-00000001.\n","type":"string"},"segments":{"description":"List of segments that apply to the summary journal entry.\n","items":{"$ref":"#/definitions/GETJournalEntrySegmentType"},"type":"array"},"status":{"description":"Status of journal entry. An enum with the values `Created` or `Cancelled`.\n","type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"timePeriodEnd":{"description":"End date of time period included in the journal entry.\n","format":"date","type":"string"},"timePeriodStart":{"description":"Start date of time period included in the journal entry.\n","format":"date","type":"string"},"transactionType":{"description":"Transaction type of the transactions included in the summary journal entry.\n","type":"string"},"transferDateTime":{"description":"Date and time that transferredToAccounting was changed to `Yes`. This field is returned only when transferredToAccounting is `Yes`. Otherwise, this field is `null`.\n","format":"date-time","type":"string"},"transferredBy":{"description":"User ID of the person who changed transferredToAccounting to `Yes`. This field is returned only when transferredToAccounting is `Yes`. Otherwise, this field is `null`.\n","type":"string"},"transferredToAccounting":{"description":"Status shows whether the journal entry has been transferred to an accounting system. The possible values are `No`, `Processing`, `Yes`, `Error`, `Ignore`.\n","type":"string"}},"type":"object"},"GETJournalEntryDetailTypeWithoutSuccess":{"properties":{"accountingPeriodName":{"description":"Name of the accounting period that the journal entry belongs to.\n","type":"string"},"aggregateCurrency":{"description":"Returns true if the journal entry is aggregating currencies. That is, if the journal entry was created when the `Aggregate transactions with different currencies during a JournalRun` setting was configured to \"Yes\". Otherwise, returns `false`.\n","type":"boolean"},"currency":{"description":"Currency used.\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"homeCurrency":{"description":"Home currency used.\n","type":"string"},"journalEntryDate":{"description":"Date of the journal entry.\n","format":"date","type":"string"},"journalEntryItems":{"description":"Key name that represents the list of journal entry items.\n","items":{"$ref":"#/definitions/GETJournalEntryItemType"},"type":"array"},"notes":{"description":"Additional information about this record.\nCharacter limit: 2,000\n","type":"string"},"number":{"description":"Journal entry number in the format JE-00000001.\n","type":"string"},"segments":{"description":"List of segments that apply to the summary journal entry.\n","items":{"$ref":"#/definitions/GETJournalEntrySegmentType"},"type":"array"},"status":{"description":"Status of journal entry. An enum with the values`Created` or `Cancelled`.\n","type":"string"},"timePeriodEnd":{"description":"End date of time period included in the journal entry.\n","format":"date","type":"string"},"timePeriodStart":{"description":"Start date of time period included in the journal entry.\n","format":"date","type":"string"},"transactionType":{"description":"Transaction type of the transactions included in the summary journal entry.\n","type":"string"},"transferDateTime":{"description":"Date and time that transferredToAccounting was changed to `Yes`. This field is returned only when transferredToAccounting is `Yes`. Otherwise, this field is `null`.\n","format":"date-time","type":"string"},"transferredBy":{"description":"User ID of the person who changed transferredToAccounting to `Yes`. This field is returned only when transferredToAccounting is `Yes`. Otherwise, this field is `null`.\n","type":"string"},"transferredToAccounting":{"description":"Status shows whether the journal entry has been transferred to an accounting system. The possible values are `No`, `Processing`, `Yes`, `Error`, `Ignore`.\n","type":"string"}},"title":"journalEntries","type":"object"},"GETJournalEntryItemType":{"properties":{"accountingCodeName":{"description":"Name of the accounting code.\n","type":"string"},"accountingCodeType":{"type":"string"},"amount":{"description":"Journal entry item amount in transaction currency.\n","format":"decimal","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"glAccountName":{"description":"The account number in the general ledger (GL) that corresponds to the accounting code.\n","type":"string"},"glAccountNumber":{"description":"The account name in the general ledger (GL) that corresponds to the accounting code.\n","type":"string"},"homeCurrencyAmount":{"description":"Journal entry item amount in home currency.\n","format":"decimal","type":"string"},"type":{"description":"Type of journal entry item. An enum with the value `Credit` or `Debit`.\n","type":"string"}},"title":"journalEntryItems","type":"object"},"GETJournalEntrySegmentType":{"properties":{"segmentName":{"description":"Name of segment.\n","type":"string"},"segmentValue":{"description":"Value of segment in this summary journal entry.\n","type":"string"}},"title":"segments","type":"object"},"GETJournalRunTransactionType":{"properties":{"type":{"type":"string"}},"title":"transactionTypes","type":"object"},"GETJournalRunType":{"properties":{"aggregateCurrency":{"description":"","type":"boolean"},"executedOn":{"description":"Date and time the journal run was executed.\n","format":"date-time","type":"string"},"journalEntryDate":{"description":"Date of the journal entry.\n","format":"date","type":"string"},"number":{"description":"Journal run number.\n","type":"string"},"segmentationRuleName":{"description":"Name of GL segmentation rule used in the journal run.\n","type":"string"},"status":{"type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"targetEndDate":{"description":"The target end date of the journal run.\n","format":"date","type":"string"},"targetStartDate":{"description":"The target start date of the journal run.\n","format":"date","type":"string"},"totalJournalEntryCount":{"description":"Total number of journal entries in the journal run.\n","format":"int64","type":"integer"},"transactionTypes":{"description":"Transaction types included in the journal run.\n","items":{"$ref":"#/definitions/GETJournalRunTransactionType"},"type":"array"}},"type":"object"},"GETMassUpdateType":{"properties":{"actionType":{"description":"Type of mass action.\n","type":"string"},"endedOn":{"description":"Date and time that the mass action was completed. The format is `yyyy-MM-dd hh:mm:ss`.\n","format":"date-time","type":"string"},"errorCount":{"description":"Total number of failed records.\n\nThis field is updated in real time. When the mass action **status** is Processing, this field returns the number of records that have failed so far. When the mass action **status** is Pending, this field is null.\n","type":"string"},"inputSize":{"description":"Size of the input file in bytes.\n","format":"int64","type":"integer"},"outputSize":{"description":"Size of the response file in bytes.\n","format":"int64","type":"integer"},"outputType":{"description":"Type of output for the response file. The following table describes the output type.\n\n| Output Type    | Description                         |\n|----------------|-------------------------------------|\n| (url:.csv.zip) | URL pointing to a zipped .csv file. |\n","type":"string"},"outputURL":{"type":"string"},"processedCount":{"description":"Total number of processed records. This field is equal to the sum of `errorCount` and `successCount`.\n\nThis field is updated in real time. When the mass action **status** is Processing, this field returns the number of records that have been processed so far. When the mass action **status** is Pending, this field is null.\n","type":"string"},"startedOn":{"description":"Date and time that Zuora started processing the mass action. The format is `yyyy-MM-dd hh:mm:ss`.\n","format":"date-time","type":"string"},"status":{"description":"Status of the mass action. The following table describes the mass action statuses.\n\n| Status     | Description                                                                |\n|------------|----------------------------------------------------------------------------|\n| Pending    | Mass action has not yet started being processed.                           |\n| Processing | Mass action is in progress.                                                |\n| Stopping   | Mass action is in the process of stopping, but has not yet stopped.        |\n| Stopped    | Mass action has stopped.                                                   |\n| Completed  | Mass action was successfully completed. There may still be failed records. |\n| Failed     | Mass action failed. No records are processed. No response file is created. |\n","type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"successCount":{"description":"Total number of successful records.\nThis field is updated in real time. When the mass action **status** is Processing, this field returns the number of records that have succeeded so far. When the mass action **status** is Pending, this field is null.\n","type":"string"},"totalCount":{"description":"Total number of records in the uploaded mass action file.\nWhen the mass action **status** is Pending, this field is null.\n","type":"string"},"uploadedBy":{"description":"Email of the person who uploaded the mass action file.\n","type":"string"},"uploadedOn":{"description":"Date and time that the mass action file was uploaded. The format is `yyyy-MM-dd hh:mm:ss`.\n","format":"date-time","type":"string"}},"type":"object"},"GETPaidInvoicesType":{"properties":{"appliedPaymentAmount":{"description":"Amount of the payment applied to this invoice.\n","format":"decimal","type":"string"},"invoiceId":{"description":"Invoice ID.\n","type":"string"},"invoiceNumber":{"description":"Invoice number.\n","type":"string"}},"title":"paidInvoices","type":"object"},"GETPaymentMethodType":{"properties":{"cardHolderInfo":{"description":"Container for the name and billing address for the card holder.\n","properties":{"addressLine1":{"description":"First address line, 255 characters or less.\n","type":"string"},"addressLine2":{"description":"Second address line, 255 characters or less.\n","type":"string"},"cardHolderName":{"description":"The full name as it appears on the card, e.g., \"John J Smith\", 50 characters or less.\n","type":"string"},"city":{"description":"City, 40 characters or less.\n","type":"string"},"country":{"description":"Country, must be a valid country name or abbreviation.\n","type":"string"},"email":{"description":"Card holder's email address, 80 characters or less.\n","type":"string"},"phone":{"description":"Phone number, 40 characters or less.\n","type":"string"},"state":{"description":"State, must be a valid state name or 2-character abbreviation.\n","type":"string"},"zipCode":{"description":"Zip code, 20 characters or less.\n","type":"string"}},"type":"object"},"cardNumber":{"description":"Credit or debit card number, 16 characters or less, masked for security purposes.\n","type":"string"},"cardType":{"description":"The type of credit card or debit card being billed.  Possible values are: `Visa`, `MasterCard`, `AmericanExpress`, `Discover`.\n","type":"string"},"defaultPaymentMethod":{"description":"Contains true if this is the default payment method for this customer, otherwise false.\n","type":"boolean"},"expirationMonth":{"description":"Two-digit expiration month (01 - 12).\n","type":"string"},"expirationYear":{"description":"Four-digit expiration year.\n","type":"string"},"id":{"description":"Unique ID generated by Zuora when this payment method was created.\n","type":"string"}},"title":"creditCards","type":"object"},"GETPaymentMethodsType":{"properties":{"creditCards":{"description":"Container for one or more credit or debit card records:\n","items":{"$ref":"#/definitions/GETPaymentMethodType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETPaymentType":{"properties":{"accountID":{"description":"Customer account ID.\n","type":"string"},"accountName":{"description":"Customer account name.\n","type":"string"},"accountNumber":{"description":"Customer account number.\n","type":"string"},"amount":{"description":"Payment amount.\n","format":"decimal","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"effectiveDate":{"description":"Effective payment date as _yyyy-mm-dd_.\n","format":"date","type":"string"},"gatewayTransactionNumber":{"description":"Transaction ID from payment gateway.\n","type":"string"},"id":{"description":"PaymentID.\n","type":"string"},"paidInvoices":{"description":"Information about one or more invoices to which this payment was applied:\n","items":{"$ref":"#/definitions/GETPaidInvoicesType"},"type":"array"},"paymentMethodID":{"description":"Payment method.\n","type":"string"},"paymentNumber":{"description":"Unique payment number.\n","type":"string"},"status":{"description":"Possible values are: `Draft`, `Processing`, `Processed`, `Error`, `Voided`, `Canceled`, `Posted.\n","type":"string"},"type":{"description":"Possible values are: `External`, `Electronic`.\n","type":"string"}},"title":"payments","type":"object"},"GETPaymentsType":{"properties":{"payments":{"description":"Information about one or more payments:\n","items":{"$ref":"#/definitions/GETPaymentType"},"type":"array"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"}},"type":"object"},"GETProductRatePlanChargePricingTierType":{"properties":{"endingUnit":{"description":"Decimal defining end of tier range.\n","format":"decimal","type":"string"},"price":{"description":"The decimal value of the tiered charge model. If the charge model is not a tiered type then this price field will be null and the price field directly under the productRatePlanCharges applies.\n","format":"decimal","type":"string"},"priceFormat":{"type":"string"},"startingUnit":{"description":"Decimal defining start of tier range.\n","format":"decimal","type":"string"},"tier":{"description":"Unique number of the tier.\n","format":"int64","type":"integer"}},"title":"tiers","type":"object"},"GETProductRatePlanChargePricingType":{"properties":{"currency":{"description":"Currency used by the charge model. For example: USD or EUR\n","type":"string"},"discountAmount":{"description":"Value subtracted from price in currency specified. Used only when the charge model is DiscountFixedAmount.\n","format":"decimal","type":"string"},"discountPercentage":{"description":"Percent discount applied to the price. Used only when the charge model is DiscountPercentage.\n","format":"decimal","type":"string"},"includedUnits":{"description":"Specifies the number of units in the base set of units when the charge model is Overage.\n","format":"decimal","type":"string"},"overagePrice":{"description":"Price per unit when base set of units is exceeded. Used only when charge model is Overage or Tiered with Overage.\n","format":"decimal","type":"string"},"price":{"description":"The decimal value that applies when the charge model is not tiered\n","format":"decimal","type":"string"},"tiers":{"description":"Container for one or many defined tier ranges with distinct pricing.  Applies when model is `Tiered`, `TieredWithOverage`, or `Volume`\n","items":{"$ref":"#/definitions/GETProductRatePlanChargePricingTierType"},"type":"array"}},"title":"pricing","type":"object"},"GETProductRatePlanChargeType":{"properties":{"applyDiscountTo":{"description":"Specifies where (to what charge type) the discount will be applied. These field values are case-sensitive.\n\nPermissible values:\n- RECURRING\n- USAGE\n- ONETIMERECURRING\n- ONETIMEUSAGE\n- RECURRINGUSAGE\n- ONETIMERECURRINGUSAGE\n","type":"string"},"billingDay":{"description":"The bill cycle day (BCD) for the charge. The BCD determines which day of the month or week the customer is billed. The BCD value in the account can override the BCD in this object.\n","type":"string"},"billingPeriod":{"description":"The billing period for the charge. The start day of the billing period is also called the bill cycle day (BCD).\n\nValues:\n- Month\n- Quarter\n- Annual\n- Semi-Annual\n- Specific Months\n- Week\n- Specific_Weeks\n","type":"string"},"billingPeriodAlignment":{"description":"Aligns charges within the same subscription if multiple charges begin on different dates.\n\nPossible values:\n- AlignToCharge\n- AlignToSubscriptionStart\n- AlignToTermStart\n","type":"string"},"billingTiming":{"type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"defaultQuantity":{"description":"The default quantity of units.  This field is required if you use a per-unit charge model.\n","format":"decimal","type":"string"},"description":{"description":"Usually a brief line item summary of the Rate Plan Charge.\n","type":"string"},"discountLevel":{"type":"string"},"endDateCondition":{"description":"Defines when the charge ends after the charge trigger date. If the subscription ends before the charge end date, the charge ends when the subscription ends. But if the subscription end date is subsequently changed through a Renewal, or Terms and Conditions amendment, the charge will end on the charge end date.\n\nValues:\n- Subscription_End\n- Fixed_Period\n","type":"string"},"financeInformation":{"description":"Container for finance information of a rate plan charge.\n","properties":{"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"deferredRevenueAccountingCode":{"type":"string"},"deferredRevenueAccountingCodeType":{"type":"string"},"recognizedRevenueAccountingCode":{"type":"string"},"recognizedRevenueAccountingCodeType":{"type":"string"}},"title":"financeInformation","type":"object"},"id":{"description":"Unique product rate-plan charge ID.\n","type":"string"},"includedUnits":{"description":"Specifies the number of units in the base set of units when the charge model is Overage.\n","format":"decimal","type":"string"},"listPriceBase":{"description":"The list price base for the product rate plan charge.\n\nValues:\n- Month\n- Billing Period\n- Per_Week\n","type":"string"},"maxQuantity":{"description":"Specifies the maximum number of units for this charge. Use this field and the `minQuantity` field to create a range of units allowed in a product rate plan charge.\n","format":"decimal","type":"string"},"minQuantity":{"description":"Specifies the minimum number of units for this charge. Use this field and the `maxQuantity` field to create a range of units allowed in a product rate plan charge.\n","format":"decimal","type":"string"},"model":{"type":"string"},"name":{"description":"Name of the product rate-plan charge. (Not required to be unique.)\n","type":"string"},"numberOfPeriods":{"description":"Value specifies the number of periods used in the smoothing model calculations Used when overage smoothing model is `RollingWindow` or `Rollover`.\n","format":"int64","type":"integer"},"overageCalculationOption":{"description":"Value specifies when to calculate overage charges.\n\nValues:\n- EndOfSmoothingPeriod\n- PerBillingPeriod\n","type":"string"},"overageUnusedUnitsCreditOption":{"description":"Determines whether to credit the customer with unused units of usage.\n\nValues:\n- NoCredit\n- CreditBySpecificRate\n","type":"string"},"prepayPeriods":{"format":"int64","type":"integer"},"priceChangeOption":{"description":"Applies an automatic price change when a termed subscription is renewed and the following applies:\n\n1. AutomatedPriceChange setting is on\n2. Charge type is not one-time\n3. Charge model is not discount fixed amount\n\nValues:\n- NoChange (default)\n- SpecificPercentageValue\n- UseLatestProductCatalogPricing\n","type":"string"},"priceIncreasePercentage":{"description":"Specifies the percentage to increase or decrease the price of a termed subscription's renewal. Use this field if you set the `PriceChangeOption` value to `SpecificPercentageValue`.\n\n1. AutomatedPriceChange setting is on\n2. Charge type is not one-time\n3. Charge model is not discount fixed amount\n\nValues: a decimal between -100 and 100\n","format":"decimal","type":"string"},"pricing":{"items":{"$ref":"#/definitions/GETProductRatePlanChargePricingType"},"type":"array"},"pricingSummary":{"description":"A concise description of the charge model and pricing that is suitable to show to your customers.\n","items":{"type":"string"},"type":"array"},"ratingGroup":{"type":"string"},"revenueRecognitionRuleName":{"description":"The name of the revenue recognition rule governing the revenue schedule.\n","type":"string"},"smoothingModel":{"description":"Specifies the smoothing model for an overage smoothing charge model or an tiered with overage model, which is an advanced type of a usage model that avoids spikes in usage charges. If a customer's usage spikes in a single period, then an overage smoothing model eases overage charges by considering usage and multiple periods.\n\nOne of the following values shows which smoothing model will be applied to the charge when `Overage` or `Tiered with Overage` is used:\n\n- `RollingWindow` considers a number of periods to smooth usage. The rolling window starts and increments forward based on billing frequency. When allowed usage is met, then period resets and a new window begins.\n- `Rollover` considers a fixed number of periods before calculating usage. The net balance at the end of a period is unused usage, which is carried over to the next period's balance.\n","type":"string"},"specificBillingPeriod":{"description":"When the billing period is set to `Specific` Months then this positive integer reflects the number of months for billing period charges.\n","format":"int64","type":"integer"},"taxCode":{"description":"Specifies the tax code for taxation rules; used by Zuora Tax.\n","type":"string"},"taxMode":{"description":"Specifies how to define taxation for the charge; used by Zuora Tax. Possible values are: `TaxExclusive`, `TaxInclusive`.\n","type":"string"},"taxable":{"description":"Specifies whether the charge is taxable; used by Zuora Tax. Possible values are:`true`, `false`.\n","type":"boolean"},"triggerEvent":{"type":"string"},"type":{"description":"The type of charge. Possible values are: `OneTime`, `Recurring`, `Usage`.\n","type":"string"},"uom":{"description":"Describes the Units of Measure (uom) configured in **Settings > Billing** for the productRatePlanCharges.\n\nValues: `Each`, `License`, `Seat`, or `null`\n","type":"string"},"upToPeriods":{"description":"Specifies the length of the period during which the charge is active. If this period ends before the subscription ends, the charge ends when this period ends.\nIf the subscription end date is subsequently changed through a Renewal, or Terms and Conditions amendment, the charge end date will change accordingly up to the original period end.\n","format":"int64","type":"integer"},"upToPeriodsType":{"type":"string"},"usageRecordRatingOption":{"type":"string"},"useDiscountSpecificAccountingCode":{"description":"Determines whether to define a new accounting code for the new discount charge.\nValues: `true`, `false`\n","type":"boolean"},"useTenantDefaultForPriceChange":{"description":"Shows the tenant-level percentage uplift value for an automatic price change to a termed subscription's renewal. You set the tenant uplift value in the web-based UI: **Settings > Billing > Define Default Subscription Settings**.\n\nValues: `true`, `false`\n","type":"boolean"}},"title":"productRatePlanCharges","type":"object"},"GETProductRatePlanType":{"properties":{"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"description":{"description":"Rate plan description.\n","type":"string"},"effectiveEndDate":{"description":"Final date the rate plan is active, as `yyyy-mm-dd`. After this date, the rate plan status is `Expired`.\n","format":"date","type":"string"},"effectiveStartDate":{"description":"First date the rate plan is active (i.e., available to be subscribed to), as `yyyy-mm-dd`.  Before this date, the status is `NotStarted`.\n","format":"date","type":"string"},"id":{"description":"Unique product rate-plan charge ID.\n","type":"string"},"name":{"description":"Name of the product rate-plan charge. (Not required to be unique.)\n","type":"string"},"productRatePlanCharges":{"description":"Field attributes describing the product rate plan charges:\n","items":{"$ref":"#/definitions/GETProductRatePlanChargeType"},"type":"array"},"status":{"description":"Possible vales are: `Active`, `Expired`, `NotStarted`.\n","type":"string"}},"title":"productRatePlans","type":"object"},"GETProductType":{"properties":{"category":{"description":"Category of the product. Used by Zuora Quotes Guided Product Selector.\n\nPossible values are:\n  - Base Products\n  - Add On Services\n  - Miscellaneous Products\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"description":{"description":"Optional product description.\n","type":"string"},"effectiveEndDate":{"description":"The date when the product expires and cannot be subscribed to anymore, as `yyyy-mm-dd`.\n","format":"date","type":"string"},"effectiveStartDate":{"description":"The date when the product becomes available and can be subscribed to, as `yyyy-mm-dd`.\n","format":"date","type":"string"},"id":{"description":"Product ID.\n","type":"string"},"name":{"description":"Product name, up to 100 characters.\n","type":"string"},"productFeatures":{"description":"Container for one or more product features. Only available when the following settings are enabled:\n- The Entitlements feature in your tenant\n- The Enable Feature Specification in Product and Subscriptions setting in Settings > Billing\n","items":{"$ref":"#/definitions/GetProductFeatureType"},"type":"array"},"productRatePlans":{"description":"Container for one or more product rate plans:\n","items":{"$ref":"#/definitions/GETProductRatePlanType"},"type":"array"},"sku":{"description":"Unique product SKU, up to 50 characters.\n","type":"string"},"tags":{"description":"","type":"string"}},"title":"products","type":"object"},"GETRSDetailType":{"properties":{"accountId":{"description":"An account ID.\n","type":"string"},"amount":{"description":"The revenue schedule amount, which is the sum of all revenue items. This field cannot be null and must be formatted based on the currency, such as `JPY 30` or `USD 30.15`. Test out the currency to ensure you are using the proper formatting otherwise, the response will fail and this error message is returned: `Allocation amount with wrong decimal places.`\n","format":"decimal","type":"string"},"createdOn":{"description":"The date when the record was created in `YYYY-MM-DD HH:MM:SS` format.\n","format":"date-time","type":"string"},"currency":{"description":"The type of currency used.\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"linkedTransactionId":{"type":"string"},"linkedTransactionNumber":{"type":"string"},"linkedTransactionType":{"description":"The type of linked transaction for billing transactions, which can be invoice item or invoice item adjustment. This field is used for all rules except the custom unlimited or manual recognition rule models.\n","type":"string"},"notes":{"description":"Additional information about this record.\n","type":"string"},"number":{"description":"Revenue schedule number. The revenue schedule number is always prefixed with \"RS\", for example, \"RS-00000001\".\n","type":"string"},"recognitionRuleName":{"description":"The name of the recognition rule.\n","type":"string"},"recognizedRevenue":{"description":"The revenue that was distributed in a closed accounting period.\n","format":"decimal","type":"string"},"referenceId":{"description":"Reference ID is used only in the custom unlimited rule to create a revenue schedule. In this scenario, the revenue schedule is not linked to an invoice item or invoice item adjustment.\n","type":"string"},"revenueItems":{"description":"Revenue items are listed in ascending order by the accounting period start date.\n","items":{"$ref":"#/definitions/GETRsRevenueItemType"},"type":"array"},"revenueScheduleDate":{"description":"The effective date of the revenue schedule. For example, the revenue schedule date for bookings-based revenue recognition is typically set to the order date or contract date.\n\nThe date cannot be in a closed accounting period. The date must be in the `YYYY-MM-DD` format.\n","format":"date","type":"string"},"subscriptionChargeId":{"description":"The original subscription charge ID.\n","type":"string"},"subscriptionId":{"description":"The original subscription ID.\n","type":"string"},"success":{"description":"Returns `true` if the request was processed successfully.\n","type":"boolean"},"undistributedUnrecognizedRevenue":{"description":"Revenue in the open-ended accounting period.\n","format":"decimal","type":"string"},"unrecognizedRevenue":{"description":"Revenue distributed in all open accounting periods, which includes the open-ended accounting period.\n","format":"decimal","type":"string"},"updatedOn":{"description":"The date when the revenue automation start date was set.\n","format":"date-time","type":"string"}},"type":"object"},"GETRSDetailWithoutSuccessType":{"properties":{"accountId":{"description":"An account ID.\n","type":"string"},"amount":{"description":"The revenue schedule amount, which is the sum of all revenue items. This field cannot be null and must be formatted based on the currency, such as `JPY 30` or `USD 30.15`. Test out the currency to ensure you are using the proper formatting otherwise, the response will fail and this error message is returned: `Allocation amount with wrong decimal places.`\n","format":"decimal","type":"string"},"createdOn":{"description":"The date when the record was created in `YYYY-MM-DD HH:MM:SS` format.\n","format":"date-time","type":"string"},"currency":{"description":"The type of currency used.\n","type":"string"},"customField__c":{"description":"Any custom fields defined for this object. The custom field name is case-sensitive.\n","type":"string"},"linkedTransactionId":{"type":"string"},"linkedTransactionNumber":{"type":"string"},"linkedTransactionType":{"description":"The type of linked transaction for billing transactions, which can be invoice item or invoice item adjustment. This field is used for all rules except the custom unlimited or manual recognition rule models.\n","type":"string"},"notes":{"description":"Additional information about this record.\n","type":"string"},"number":{"description":"Revenue schedule number. The revenue schedule number is always prefixed with \"RS\", for example,
[...]
